body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #d71519;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

h1 {
    margin: 10px 0;
}

main {
    flex: 1;
    padding: 20px;
}

article h2 {
    color: black;
    text-decoration: none;
}

.article-image {
    width: 100%;
    max-width: 800px; /* 最大宽度 */
    max-height: 600px; /* 最大高度 */
    object-fit: contain; /* 保持图片比例 */
    display: block;
    margin: 0 auto; /* 图片居中 */
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article {
    border: 1px solid #ddd;
    padding: 15px;
}

.article h3 {
    margin: 0;
    font-size: 1.2em;
    color: black;
}

.article img {
    width: 100%;
    height: auto;
    max-width: 800px; /* 限制图片的最大宽度 */
    max-height: 600px; /* 限制图片的最大高度 */
    object-fit: cover; /* 确保图片在规定大小内适应 */
}

.indented {
    text-indent: 2ch; /* 缩进2个字符的宽度 */
}


footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}
